/** You can edit this entire document **/

.outer-wrapper {
  width: 100%;
}
.content-wrapper {
  width:100%;
  max-width: 1010px;
  margin: 0 auto;
}

body {
	font-family: roboto;
}

h2 {
	text-align: center;
}

/*Navbar CSS*/

header h1 {
	background-image: url("images/logo.jpg");
	background-repeat: no-repeat;
	color: transparent;
	height: 60px;
	width: 400px;
	display: inline-block;
	margin: 0;
}

nav {
	display: inline-block;
	float: right;
}

nav ul {
	margin: 0;
}
nav li {
	margin-top: 10px;
	list-style: none;
	display: inline-block;
}

nav li a {
	background-color: white;
	display: inline-block;
	font-weight: bold;
	text-decoration: none;
	color: #309FF0;
	padding: 12px 10px;
	text-transform: uppercase;
}

nav li a:hover {
	background-color: #309FF0;
	color: white;
}

/*The following CSS targets our Welcome Section */

div#welcome {
	background: #3eada7;
	color: white;
	text-align: center;
	background-image: url(images/section-2-top-dotted-border.jpg);
	background-position: top;
	background-repeat: repeat-x;
}

div#welcome {
	font-size: 30px;
	font-weight: bolder;
}

div#welcome h2 {
	padding-top: 100px;
	text-transform: uppercase;
}

div#welcome span {
	color: white;
	font-weight: 100;
}

div#welcome p {
	padding-bottom: 70px;
	line-height: 30px;
	font-size: 16px;
	opacity: .9;
	font-weight: 400;
}

/*Step 1 Section*/
ul {
	list-style-type: none;
	padding: 0;
}

.step1card {
	width: 240px;
	height: 323px;
	background-image: url('images/content/step1bg.png');
	background-size: cover;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 10px;
	position: relative;
}

li.step1card a {
	position: absolute;
	bottom: 0px;
	background-image: url(images/purple-cause-prehover.png);
	background-size: cover;
	width: 240px;
	height: 145px;
	text-decoration: none;
	color: #ffffff;
}

li.step1card a h3 {
    position: absolute;
    bottom: 0;
    margin-left: 20px;
}

li.step1card a p {
	display:none;
}

li.step1card a:hover p {
	display: block;
	margin: 5px 15px;

}

li.step1card a:hover h3 {
	position: relative;
	margin-top: 100px;
}

li.step1card a:hover {
	background-image: url(images/purple-cause-hover.png);
	height: 275px; 
}