/** You can edit this entire document **/

body {
	font-family: Montserrat, sans-serif;
}

.outer-wrapper {
  width: 100%;
}
.content-wrapper {
  width:100%;
  max-width: 1010px;
  margin: 0 auto;
}
h1.logo {
	float: left;
	background-image: url('images/logo.jpg');
	width:386px;
	height: 60px;
	text-indent: -9999px;
}
header div.content-wrapper {
	height: 100px;
}
nav {
	float: right;
}
nav ul {
	margin-top: 32px;
}
nav li a {
	display: inline-block; 
	text-transform: uppercase;
	font-weight: bold;
	color: #3eada7;
	text-decoration: none;
	padding-top: 12px;
	padding-bottom:12px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
	margin: 0 6px;
}
nav li a:hover {
	background-color: #3eada7;
	color: #fff;
}
nav li {
	display: inline-block;
}

/** Welcome Section **/
div#welcome {
	background: #3eada7 url('images/section-2-top-dotted-border.jpg') repeat-x top left;
	color: #fff;
	text-align: center;
	padding-top: 37px;
	padding-bottom: 37px;
}
#welcome h2 {
	text-transform: uppercase;
	font-size: 3em;
}
#welcome h2 span.small {
	font-weight: 300;
}
#welcome h2 span.smaller {
	font-weight: 200;
}

@media (max-width: 985px) {
	.content-wrapper {
		padding-left: 25px;
		padding-right: 25px;
		box-sizing: border-box;
	}
	header div.content-wrapper {
		height: 125px;
	}
	nav ul {
		margin: 0;
	}
	nav li {
		display: block;
	}
	nav li a {
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 3px;
		padding-right: 3px;
	}
	#welcome h2 {
		font-size: 2.2em;
	}
}
@media (max-width: 725px) {
	header {
		text-align: center;
	}
	h1.logo {
		float: none;
		display: block;
		margin: 0 auto;
	}
	nav {
		float: none;
		display: block;
		margin: 0 auto;
	}
	header div.content-wrapper {
		height: auto;
		padding: 0;
	}
	#welcome h2 {
		font-size: 1.5em;
	}
}

